src/main/resources/twe/flow/FlowConfig.rng

<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  
  <start>
    <ref name="FlowConfigContent"/>
  </start>


  <define name="FlowConfigContent">
    <element name="FlowConfig">
      <oneOrMore>
        <ref name="FlowModuleWithSource"/>
      </oneOrMore>
    </element>
  </define>

  <define name="FlowModuleWithSource">
    <element name="module">
      <attribute name="src">
        <data type="anyURI"/>
      </attribute>
    </element>
  </define>
</grammar>
